.detalle-jugador{
    margin: 6px 0;
    padding: 16px;
    background-color: var(--color-4);
    border-radius: 8px;
    box-shadow: var(--iluminacion);
    transform: skewX(4deg);
    .w-100{
        display: flex;
        justify-content: center;
        margin: 4px 0;
        div{
            font-family: var(--fuente-resultado);
            font-size: 12px;
            text-align: center;
            padding: 2px 0;
        }
        h4{
            letter-spacing: 2px;
            color: var(--color-1);
        }
        .contrato{
            box-shadow: var(--iluminacion);
            border-radius: 4px;
        }
        .w-15{
            border: 1px solid #00000045;
            margin: 0 4px;
            padding: 2px 0;
            box-shadow: var(--iluminacion);
            border-radius: 2px;
        }
    }
    hr{
        opacity: 0.3;
    }
}