.tablero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .temporadas{
        width: 69%;
        display: flex;
        justify-content: space-evenly;
        align-content: flex-start;
        flex-wrap: wrap;
        .btn-campeonato{
            margin: 4px;
            padding: 12px;
            width: 30%;
            text-decoration: none;
            border-radius: 12px;
            box-shadow: var(--iluminacion);
            backdrop-filter: blur(4px);
            height: 96px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            h4,h6{
                font-family: var(--fuente-resultado);
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 16px;
                    margin-left: 2px;
                }
            }
        }
    }
    .campeones{
        width: 30%;
        background-color: var(--color-1);
        padding: 16px;
        border-radius: 16px;
        box-shadow: var(--iluminacion);
        .jugador{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            margin: 2px 0;
            div{
                font-family: var(--fuente-resultado);
                font-size: 12px;
                text-transform: capitalize;
                color: var(--color-5);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
                height: 12px;
            }
        }
    }
}