.tablas-competicion{
    .tabla{
        width: 19%;
        background-color: var(--color-blanco-contraste);
        backdrop-filter: blur(16px);
        padding: 18px;
        border-radius: 18px;
        box-shadow: var(--iluminacion);
        /* max-height: 90vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
        display: none;
        } */
        h2{
            margin-bottom: 10px;
            font-size: 14px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
        .jugador{
            display: flex;
            justify-content: space-between;
            margin: 1px 0;
            div{
                text-align: center;
                font-family: var(--fuente-resultado);
                text-transform: capitalize;
                color: var(--color-1);
                font-size: 12px;
            }
        }
    }
}