.pk-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .listado{
    background-color: #010916;
    backdrop-filter: blur(16px);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--iluminacion);
    width: 70%;
    .penal{
        display: flex;
        text-decoration: none;
        margin: 2px 0;
        border-radius: 6px;
        box-shadow: var(--iluminacion);
        transition: transform 0.5s;
        &:hover{
            transform: scale(0.98)
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--fuente-resultado);
            text-transform: uppercase;
            font-size: 12px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            img{
                height: 16px;
            }
        }
    }
}
.tabla-penales{
    width: 29%;
    .tablilla{
        width: 100%;
        padding: 12px;
        border-radius: 12px;
        box-shadow: var(--iluminacion);
        background: #010916;
        backdrop-filter: blur(10px);
        margin-bottom: 12px;
        h3{
            margin-bottom: 12px;
            color: var(--color-4);
        }
        .jugador{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: capitalize;
            text-decoration: none;
            margin: 2px 0;
            font-size: 12px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-family: var(--fuente-resultado);
                color: var(--color-4);
            }
        }
    }
}
}