.secciones{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .btn-seccion{
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: var(--fuente-resultado);
        background-color: var(--color-blanco);
        width: 13%;
        border-radius: 4px;
        box-shadow: var(--iluminacion);
        color: var(--color-5);
        transition: color 0.3s, background 0.3s;
        &:hover{
            background-color: var(--color-5);
            color: var(--color-1);
        }
    }
}