.repeticion-resultados{
    background-color: var(--color-blanco-contraste);
    width: 23%;
    padding: 8px;
    border-radius: 24px;
    backdrop-filter: blur(16px);
    box-shadow: var(--iluminacion);
    text-decoration: none;
    transition: scale 0.5s;
    &:hover{
        scale: 0.95;
    }
    h3{
        color: var(--color-negro);
    }
    .resultado{
        display: flex;
        box-shadow: var(--iluminacion);
        padding: 4px 12px;
        margin: 4px 0;
        border-radius: 4px;
        div{
            font-family: var(--fuente-resultado);
            font-size: 12px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}