.tabla-rivales{
    padding: 22px;
    border-radius: 24px;
    width: 80%;
    background: var(--color-negro-contraste);
    backdrop-filter: blur(6px);
    box-shadow: var(--iluminacion);
    h2{
        color: #e8f1ff;
        letter-spacing: 2px;
        margin-bottom: 24px;
    }
    .rival-titulo{
        margin-bottom: 16px;
    }
    .rival{
        margin: 4px 0;
        cursor: pointer;
        transition: background 0.3s;
        &:hover{
            background-color: var(--color-4);
        }
    }
    .rival, .rival-titulo{
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        background: #e8f1ffb4;
        backdrop-filter: blur(6px);
        padding: 2px 0;
        border-radius: 4px;
        box-shadow: var(--iluminacion);
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--fuente-resultado);
            color: var(--color-1);
            font-size: 12px;
            text-transform: capitalize;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            img{
                height: 14px;
            }
            .escudo{
                transform: rotateZ(-24deg);
                animation: giro 12s infinite alternate ease-in-out;
            }
        }
    }
}