.cards{
    width: 100%;
    background-color: var(--color-blanco-contraste);
    padding: 22px;
    border-radius: 22px;
    box-shadow: var(--iluminacion);
    backdrop-filter: blur(16px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2{
        margin-bottom: 24px;
    }
    .card{
        width: 19%;
        padding: 16px 6px;
        margin: 8px 2px;
        border-radius: 12px;
        box-shadow: var(--iluminacion);
        hr{
            margin: 6px 22px;
        }
        h3{
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            img{
                height: 16px;
                margin-right: 4px;
                border-radius: 4px;
                transform: rotateZ(-12deg);
            }
        }
    }
    .club{
        background-color: #00780879;
    }
    .fuera{
        background-color: #78000079;
    }
    .desconocido{
        background-color: #78700079;
    }
    .data{
        .renglon{
            width: 100%;
            display: flex;
            justify-content: space-between;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: var(--fuente-resultado);
                font-size: 12px;
                text-transform: capitalize;
                img{
                    height: 14px;
                }
            }
        }
    }
}