.tablas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > h2{
        background: var(--color-blanco-contraste);
        padding: 24px 0;
        border-radius: 16px;
        box-shadow: var(--iluminacion);
        backdrop-filter: blur(4px);
        letter-spacing: 6px;
        text-transform: uppercase;
        color: var(--color-1);
        margin-bottom: 16px;
    }
}