.info-jugador {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 6px;
    grid-template-areas:
    'csuperior csuperior csuperior csuperior csuperior csuperior csuperior csuperior csuperior csuperior'
    'cdorsales cdorsales cdorsales cdorsales cdorsales cdorsales cdorsales cdorsales cdorsales cdorsales'
    'cetapas cetapas cetapas cetapas cetapas ctitulos ctitulos ctitulos ctitulos ctitulos'
    'cstats cstats cstats cstats cstats cstats cstats cstats cstats cstats'
    'cpartidos cpartidos cpartidos cpartidos cpartidos cpartidos cpartidos cpartidos cpartidos cpartidos'
;
    .contenedor-etapas,
    .contenedor-titulos{
        padding: 18px;
    }
    .contenedor-superior{
        padding: 36px;
    }
    .contenedor-superior,
    .contenedor-etapas,
    .contenedor-titulos {

        border-radius: 24px;
        box-shadow: var(--iluminacion);
        backdrop-filter: blur(4px);
        h2,
        h5 {
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px #000;
        }
    }

    .contenedor-superior {
        width: 100%;
        grid-area: csuperior;
        h2 {
            font-size: 40px;
        }
        h5 {
            font-size: 22px;
        }
        .contenedor-nacionalidad {
            margin-top: 8px;
            img {
                transform: rotateZ(-10deg);
            }
        }
        .contenedor-cantera {
            img {
                border-radius: 4px;
                transform: rotateZ(10deg);
                filter: drop-shadow(2px 2px 4px var(--color-negro-contraste));
            }
        }
        .contenedor-nacionalidad,
        .contenedor-cantera {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            img {
                height: 22px;
            }
            p {
                text-transform: capitalize;
                font-family: var(--fuente-resultado);
            }
        }
    }
    .contenedor-etapas{
        grid-area: cetapas;
    }
    .contenedor-titulos{
        grid-area: ctitulos;
    }
    .contenedor-estadisticas{
        grid-area: cstats;
    }
    .contenedor-dorsales{
        grid-area: cdorsales;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: var(--color-blanco-contraste);
        backdrop-filter: blur(32px);
        border-radius: 12px;
        box-shadow: var(--iluminacion);
        padding: 12px 0;
        .dorsal{
            width: 64px;
            margin: 0 12px;
            padding-top: 12px;
            div{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                h6{
                    font-size: 8px;
                    margin-top: -12px;
                }
            }
            .equipo{
                margin-bottom: -12px;
                img{
                    height: 16px;
                }
            }
            .muestra-dorsal{
                background-color: var(--color-fondo);
                border: 4px solid var(--color-borde);
                border-radius: 12px;
                color: var(--color-borde);
                font-family: var(--fuente-resultado);
                font-size: 40px;
            }
        }
    }

    .contenedor-etapas, .contenedor-titulos {
        width: 100%;
        span{
            font-size: 10px;
            font-family: var(--fuente-resultado);
            text-transform: uppercase;
            padding: 2px 6px;
            margin: 2px;
            background-color: var(--color-5);
            color: var(--color-1);
            border-radius: 4px;
            box-shadow: var(--iluminacion);
        }
        .etapa {
            width: 100%;
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-size: 12px;
                font-family: var(--fuente-resultado);
                text-wrap: nowrap;
                text-overflow: ellipsis;
                img {
                    height: 22px;
                    filter: drop-shadow(
                        2px 2px 4px var(--color-negro-contraste)
                    );
                    transform: rotateZ(-6deg);
                }
            }
        }
    }
    .contenedor-partidos{
        grid-area: cpartidos;
        width: 100%;
        padding: 12px;
        background-color: var(--color-blanco-contraste);
        backdrop-filter: blur(16px);
        border-radius: 12px;
        box-shadow: var(--iluminacion);
        .partido{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2px 0;
            padding: 4px;
            border-radius: 4px;
            text-decoration: none;
            box-shadow: var(--iluminacion);
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                font-family: var(--fuente-resultado);
                text-transform: capitalize;
                color: var(--color-1);
                img{
                    height: 12px;
                }
            }
            .circuleado,
            .no-circuleado{
                width: 16px;
                height: 16px;
                aspect-ratio: 1 / 1;
            }
            .circuleado{
                border-radius: 50%;
                border: 1px solid var(--color-1);
                background-color: var(--color-5);
            }
        }
    }
}
