.menu-stats{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
    .activo{
        background: #007500;
        cursor: no-drop;
    }
    .inactivo{
        background: #750000;
        cursor: pointer;
        &:hover{
            background: var(--color-4);
        }
    }
    .btn-stats{
        width: 8%;
        padding: 6px 0;
        margin: 0 4px;
        border-radius: 8px;
        border: 0;
        box-shadow: inset 0 0 8px 1px var(--color-blanco);
        font-family: var(--fuente-resultado);
        font-size: 12px;
        text-transform: uppercase;
        color: var(--color-blanco);
        transition: background 0.5s;
    }
}

.tabla-stats{
    background: #101e6cab;
    padding: 12px;
    border-radius: 12px;
    backdrop-filter: blur(16px);
    box-shadow: var(--iluminacion);
    h2{
        margin: 12px 0;
    }
    .club{
        background-color: #18a418;
    }
    .fuera{
        background-color: #a41818;
    }
    .desconocido{
        background-color: #a49f18;
    }
    .jugador-stats{
        display: flex;
        margin: 2px 0;
        border-radius: 4px;
        transition: background 0.3s, transform 0.3s;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--fuente-resultado);
            text-transform: capitalize;
            text-overflow: ellipsis;
            overflow: hidden;
            text-wrap: nowrap;
            color: var(--color-blanco);
            font-size: 12px;
            .bandera{
                transform: rotateZ(4deg);
            }
            img{
                height: 12px;
            }
        }
        &:hover{
            background-color: var(--color-4);
            transform: translateX(4px);
        }
    }
}