.tarjeta-competicion{
    width: 90%;
    margin: 4px auto;
    background-color: #f2f5ff;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 0px #00000020;
    .stats{
        .dato{
            width: 12%;
        }
    }
    .stats,.efectividad{
        display: flex;
        justify-content: space-between;
    }
    .stats > .dato,.efectividad,.podio{
        font-family: var(--fuente-resultado);
        font-size: 12px;
        text-align: center;
        background-color: #3f889b31;
        margin: 2px 0;
        border: 1px solid #00000020;
        border-radius: 4px;
        overflow: hidden;
    }
    .podio{
        h6{
            text-transform: uppercase;
            font-family: var(--fuente-resultado);
            text-wrap: nowrap;
            overflow: hidden;
        }
        .puesto{
            display: flex;
            justify-content: space-between;
            div{
                text-align: center;
                text-wrap: nowrap;
                text-transform: capitalize;
                font-family: var(--fuente-resultado);
                font-size: 10px;
                overflow: hidden;
            }
        }
    }
}